<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT-APPENDER" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c{1} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <asyncRoot level="info">
            <AppenderRef ref="STDOUT-APPENDER"/>
        </asyncRoot>
    </Loggers>
</Configuration>